.App {
  text-align: center;
  margin: auto;
}

.card {
  width: 45%;
  height: 400px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin: 5px;
  background-color: white;
  border: 2px solid red;
  border-radius: 6px;
  box-shadow: 2px 2px 4px lightgray;
}

.card-img {
  height: 320px;
  margin: 4px;
}

.card-text {
  text-decoration: none;
  color: black;
}

.nav-bar {
  display: flex;
  margin: 10px 20px;
  padding: 2px;
  background-color: gray;
  justify-content: space-evenly;
  border-radius: 2px;
}

.nav-item {
  color: white;
  margin: 3px;
  text-decoration: none;
  font-size: 18px;
}

.nav-item:hover {
  color: red;
  margin: 0;
  font-size: 21px;
}

.header-img {
  width: 100%;
  margin: 0 auto;
}

.item-img {
  width: 60%;
  margin: 0 auto;
}

.rating-card {
  width: 85%;
  padding: 10px;
  margin: 5px auto;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 4px;
  box-shadow: 2px 2px 4px lightgray;
}

.user-card {
  width: 85%;
  padding: 10px;
  margin: 5px auto;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 4px;
  box-shadow: 2px 2px 4px lightgray;
}

.user-header {
  display: flex;
}
.user-img-container {
  display: inline-block;
}

.user-img {
  height: 140px;
}

.user-header-data {
  display: inline-flex;
  flex-direction: column;
}

.user-name {
  display: inline-block;
  margin: 20px 10px;
  text-align: left;
  font-size: 30px;
}

.user-review-count {
  display: inline-block;
  margin: 10px;
  font-size: 12px;
}

.user-bio {
  margin: 10px;
  text-align: left;
  font-size: 15px;
  line-height: 30px;
}